<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Integrated Platform
  </title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:* http: ; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:* ws: ; style-src 'unsafe-inline' https:; object-src 'none';"> -->

  <meta name="importmap-type" content="systemjs-importmap" />

  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.1.3/dist/vue-router.global.min.js",
        "vue2": "https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js",
        "vue3":"https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js",
        "@vasion/root-config": "https://mfe-root-adamwhitehurst.vercel.app/js/app.js",
        "@vasion/core": "https://mfe-core-adamwhitehurst.vercel.app/js/app.js",
        "@vasion/sidebar": "https://mfe-sidebar-adamwhitehurst.vercel.app/js/app.js"
      }
    }
  </script>

  <% if (isLocal) { %>
    <!-- <script id="import-map-overrides" type="systemjs-importmap"> -->
    <!-- { -->
    <!--   "imports": { -->
    <!--     "@vasion/root-config": "//localhost:9000/vasion-root-config.js", -->
    <!--     "@vasion/sidebar": "//localhost:8081/js/app.js", -->
    <!--     "@vasion/sidebar/":"//localhost::8081/js/", -->
    <!--     "@vasion/core": "//localhost:8080/js/app.js", -->
    <!--     "@vasion/core/":"//localhost::8080/js/" -->
    <!--   } -->
    <!-- } -->
    </script>
    <% } %>
      <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/import-map-overrides@3/dist/import-map-overrides.js"></script>
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">
      <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
          <% } %>
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue-router@4/dist/vue-router.global.min.js"></script> -->

  <script>
    // Set vue3 import to resolve to global Vue (3) instance
    System.set(System.resolve('vue3'), window.Vue)
    // ... but remove from window so applications do not try to use
    // global methods
    window.Vue = undefined;
    System.import('@vasion/root-config');
  </script>
  <import-map-overrides-full dev-libs></import-map-overrides-full>
</body>

</html>
